.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item{
  margin: 0 9rem;
}

.letra{
  font-weight: bolder;
}

nav{
  border: solid rgb(252, 252, 252);
  border-radius: 1rem;
  border-style: dashed;

}


svg{
  width: 1.4rem;
  height: 1.4rem;
}

.counter_item{
  margin: auto;
  padding: auto;
}

.counter_button{
  background-color: rgb(240, 126, 160);
  margin: 1rem 0;
}

.card{
  margin: 0 81rem 0 0;
}